<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuite name="Unit Tests">
        <directory suffix="Test.php">./Test/Unit</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
